<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroku Bound: <%= page_title() %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!---    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"> --->
  </head>

  <body>
    <div class="container">
      <header class="header">
         <%= mainmenu @conn %>
         <img src="/images/voxlogo.png" class="img img-responsive">
      </header>

      <%= if get_flash(@conn, :info) do %>
         <div class="alert alert-info alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <%= get_flash(@conn, :info) %> 
         </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
         <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <%= get_flash(@conn, :error) %>
         </div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
